{% extends "Padre.html" %}
{% load static %}
{% block head %}
<title>CAJA</title>
{% endblock head %}


{% block body %}
<div class="Frame20" style="width: 899px; height: 603px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 86px; display: inline-flex">
  <div class="Titulo" style="padding-left: 25px; padding-right: 25px; padding-top: 7px; padding-bottom: 7px; background: linear-gradient(180deg, rgba(115.50, 179.46, 213.90, 0.50) 0%, rgba(102.56, 159.35, 189.93, 0.50) 35%, rgba(60.43, 93.89, 111.90, 0.50) 100%); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 50px; justify-content: center; align-items: center; gap: 100px; display: inline-flex">
    <div class="Caja" style="color: white; font-size: 57px; font-family: Roboto; font-weight: 400; line-height: 64px; word-wrap: break-word">CAJA</div>
    <div class="Search" style="width: 46px; height: 38.82px; position: relative">
      <div class="BoundingBox" style="width: 46px; height: 38.82px; left: 0px; top: 0px; position: absolute; background: #D9D9D9"></div>
      <div class="Search" style="width: 34.50px; height: 29.11px; left: 5.75px; top: 4.85px; position: absolute; background: white"></div>
    </div>
  </div>
  <div class="Frame3" style="padding: 50px; background: linear-gradient(180deg, rgba(115.50, 179.46, 213.90, 0.50) 0%, rgba(102.56, 159.35, 189.93, 0.50) 35%, rgba(60.43, 93.89, 111.90, 0.50) 100%); border-radius: 20px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 25px; display: flex">
    <div class="Producto" style="justify-content: center; align-items: center; gap: 10px; display: inline-flex">
      <div class="Vendedor" style="color: black; font-size: 36px; font-family: Roboto; font-weight: 400; line-height: 44px; word-wrap: break-word">Vendedor</div>
      <div class="Id" style="padding: 10px; background: white; border-radius: 10px; justify-content: center; align-items: center; gap: 10px; display: flex">
        <div style="color: black; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">1837623453</div>
      </div>
    </div>
    <div class="Frame18" style="justify-content: flex-start; align-items: center; gap: 50px; display: inline-flex">
      <div class="Frame7" style="align-self: stretch; padding: 25px; background: white; border-radius: 20px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 20px; display: inline-flex">
        <div class="Objeto10000SinDescuento" style="align-self: stretch; color: black; font-size: 14px; font-family: Roboto; font-weight: 600; line-height: 20px; letter-spacing: 0.10px; word-wrap: break-word">OBJETO -------10.000$ sin descuento</div>
        <div class="Objeto10000SinDescuento" style="align-self: stretch; color: black; font-size: 14px; font-family: Roboto; font-weight: 600; line-height: 20px; letter-spacing: 0.10px; word-wrap: break-word">OBJETO -------10.000$ sin descuento</div>
        <div class="Objeto10000SinDescuento" style="align-self: stretch; color: black; font-size: 14px; font-family: Roboto; font-weight: 600; line-height: 20px; letter-spacing: 0.10px; word-wrap: break-word">OBJETO -------10.000$ sin descuento</div>
        <div class="Objeto10000SinDescuento" style="align-self: stretch; color: black; font-size: 14px; font-family: Roboto; font-weight: 600; line-height: 20px; letter-spacing: 0.10px; word-wrap: break-word">OBJETO -------10.000$ sin descuento</div>
        <div class="Objeto10000SinDescuento" style="align-self: stretch; color: black; font-size: 14px; font-family: Roboto; font-weight: 600; line-height: 20px; letter-spacing: 0.10px; word-wrap: break-word">OBJETO -------10.000$ sin descuento</div>
        <div class="Objeto10000SinDescuento" style="align-self: stretch; color: black; font-size: 14px; font-family: Roboto; font-weight: 600; line-height: 20px; letter-spacing: 0.10px; word-wrap: break-word">OBJETO -------10.000$ sin descuento</div>
      </div>
      <div class="Panel" style="align-self: stretch; padding: 20px; background: rgba(115.50, 179.46, 213.90, 0.50); border-radius: 20px; overflow: hidden; flex-direction: column; justify-content: space-between; align-items: center; display: inline-flex">
        <div class="Total" style="justify-content: center; align-items: center; gap: 10px; display: inline-flex">
          <div class="Total" style="color: black; font-size: 45px; font-family: Roboto; font-weight: 400; line-height: 52px; word-wrap: break-word">TOTAL</div>
          <div class="Numero" style="padding: 10px; background: white; border-radius: 10px; justify-content: center; align-items: center; gap: 10px; display: flex">
            <div class="000" style="color: black; font-size: 45px; font-family: Roboto; font-weight: 400; line-height: 52px; word-wrap: break-word">100.000</div>
          </div>
        </div>
        <div class="Botones" style="padding-left: 20px; padding-right: 20px; padding-top: 10px; padding-bottom: 10px; justify-content: center; align-items: center; gap: 20px; display: inline-flex">
          <div class="ScanDelete" style="width: 60px; height: 60px; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
            <div class="ScanDelete" style="width: 36.46px; height: 41.67px; background: #1C1B1F"></div>
            <div class="Elminar" style="color: black; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">Elminar</div>
          </div>
          <div class="AddCircle" style="width: 60px; height: 60px; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
            <div class="AddCircle" style="width: 41.67px; height: 41.67px; background: #1C1B1F"></div>
            <div class="Agregar" style="color: black; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">Agregar</div>
          </div>
          <div class="Inventory2" style="width: 60px; height: 60px; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
            <div class="Inventory2" style="width: 41.67px; height: 41.67px; background: #1C1B1F"></div>
            <div class="Inventario" style="color: black; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">Inventario</div>
          </div>
          <div class="Print" style="width: 60px; height: 60px; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
            <div class="Print" style="width: 41.67px; height: 37.50px; background: #1C1B1F"></div>
            <div class="Factura" style="color: black; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">Factura</div>
          </div>
          <div class="AttachMoney" style="width: 60px; height: 60px; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
            <div class="AttachMoney" style="width: 19.48px; height: 37.50px; background: #1C1B1F"></div>
            <div class="Pago" style="color: black; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">Pago</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}