{% extends "Padre.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link href="{% static "css/caja.css" %}" rel="stylesheet" type="text/css">
<title>CAJA</title>
{% endblock head %}


{% block body %}
<div class="Frame20">
  <div class="Titulo">
    <div class="Caja">CAJA</div>
    <div class="search">
      <span class="material-symbols-outlined" id="search">
        search
      </span>
    </div>
  </div>
  <div class="Frame3">
    <div class="Producto">
      <div class="Vendedor">Vendedor</div>
      <div class="lista">{{ cedula }}</div>
    </div>
    <div id="section1">
      <table id="contenedor-campos">
        <thead>
            <tr>
                <th>ID</th>
                <th>Producto</th>
                <th>descuento</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
          {% for lista in ListaPoductos %}
          <tr>
              <td class="Resumen">{{lista.pk}}<br></td>
              <td class="Resumen">{{lista.nombre}}<br></td>
              <td class="Resumen">{{lista.descuento}}<br></td>
              <td class="Resumen">{{lista.precio_final}}<br></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="Panel">
        <div class="Frame8">
          <div class="Total">TOTAL</div>
          <div class="Numero" >
            <div class="Num">{{Total}}$</div>
          </div>
        </div>
        <form class="Form" method="POST">
          {% csrf_token %}
          <div class="input">
            <select text="text" name="name" placeholder="Código de producto">
              <option>---</option>
              {% for producto in Productos %}
              <option>{{producto.nombre}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="Botones">
            <button class="add_circle" id="agregarProducto" name="consulta" value="1" type="submit">
              <span class="material-symbols-outlined" id="Icon">add_circle</span>
              <p class="TBoton">Agregar</p>
            </button>
            <button class="ScanDelete" name="consulta" value="2" type="submit">
              <span class="material-symbols-outlined" id="Icon">scan_delete</span>
              <p class="TBoton">Elminar</p>
            </button>
            <button class="Inventory2" name="consulta" value="3" type="submit">
              <span class="material-symbols-outlined" id="Icon">refresh</span>
              <p class="TBoton">Limpiar</p>
            </button>
            <button class="AttachMoney" name="consulta" value="4" type="submit">
              <span class="material-symbols-outlined" id="Icon">attach_money</span>
              <p class="TBoton">Pago</p>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock body %}