{% extends "Padre.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=search" />
<link href="{% static "css/calendario.css" %}" rel="stylesheet" type="text/css">
<title>CALENDARIO</title>
{% endblock head %}


{% block body %}
<div style="display: flex; flex-direction: column; align-items: center">
  <div class="Titulo">
    <div class="Calendario">CALENDARIO</div>
    <div class="Search">
      <span class="material-symbols-outlined" style="font-size: 46px; left: 5.75px; top: 4.85px; color: white">
        search
      </span>
    </div>
  </div>
  <p></p>
  <iframe src="https://calendar.google.com/calendar/embed?src=e51560448ca9d7844ce20f8a86d7758881e675c4df33dceb60eadea940ca7944%40group.calendar.google.com&ctz=UTC" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
{% endblock body %}