{% extends "Padre.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link href="{% static "css/inicio.css" %}" rel="stylesheet" type="text/css">
<title>INICIO</title>
{% endblock head %}


{% block body %}
<div class="Frame19" >
  <div class="Titulo">
    <div class="PanelDeAdministraccion">PANEL DE ADMINISTRACCION</div>
    <div class="search">
      <span class="material-symbols-outlined" id="search">
        search
      </span>
    </div>
  </div>
  <div class="Frame7">
    <a href="http://127.0.0.1:8000/caja/">
      <button class="Opcion">
        <div class="Frame8">
          <div class="PointOfSale">
            <span class="material-symbols-outlined" id="icon">
              point_of_sale
            </span>
          </div>
        </div>
        <div class="Frame1" >
          <div class="texto">
            CAJA
          </div>
        </div>
      </button>
    </a>
    <a href="http://127.0.0.1:8000/itinerario/">
      <button class="Opcion">
        <div class="Frame8">
          <div class="Inventory">
            <span class="material-symbols-outlined" id="icon">
              Inventory
            </span>
          </div>
        </div>
        <div class="Frame1">
          <div class="texto">
            INVENTARIO
          </div>
        </div>
      
      </button>
    </a>
    <a href="http://127.0.0.1:8000/provedores/">
      <button class="Opcion">
        <div class="Frame8">
          <div class="LocalShipping">
            <span class="material-symbols-outlined" id="icon">
              local_shipping
            </span>
          </div>
        </div>
        <div class="Frame1">
          <div class="texto">
            PROVEDOR
          </div>
        </div>
      </button>
    </a>
    <a href="http://127.0.0.1:8000/calendario/">
      <button class="Opcion">
        <div class="Frame8">
          <div class="CalendarMonth">
            <span class="material-symbols-outlined" id="icon">
              calendar_month
            </span>
          </div>
        </div>
        <div class="Frame1">
          <div class="texto">
            CALENDARIO
          </div>
        </div>
      </button>
    </a>
  </div>
</div>
{% endblock body %}