{% extends "Padre.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link href="{% static "css/inventario.css" %}" rel="stylesheet" type="text/css">
<title>Inventario</title>
{% endblock head %}


{% block body %}
<div class="Frame22" style="">
  <div class="Titulo">
    <div class="Inventario">Inventario</div>
    <div class="search">
      <span class="material-symbols-outlined" id="search">
        search
      </span>
    </div>
  </div>
  <div class="Frame3">
    <div class="Panel">
      <div class="Panel2">
        <div class="texto">ISBN: {{producto_db.pk}}</div>
        <form method="GET">
          <div class="container">
            <div class="inputs">
              <input type="text" name="q" placeholder="Buscar por isbn">
              <select text="text" name="categoria" placeholder="Código de producto">
                <option>---</option>
                {% for producto in Productos %}
                <option>{{producto.nombre}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="buttones">
              <button name="consulta" value="0" type="submit">
                <span class="material-symbols-outlined" id="Icon">search</span>
                <p class="TBoton">Buscar</p>
              </button>
              <button class="add_circle" id="agregarProducto" name="consulta" value="1" type="submit">
                <span class="material-symbols-outlined" id="Icon">add_circle</span>
                <p class="TBoton">Agregar</p>
              </button>
            </div>
          </div>
        </form>
      </div>
      {% if producto_db %}
      <div class="texto">Producto: {{producto_db.nombre}}</div>
      <table id="contenedor-campos">
        <thead>
            <tr>
                <th>ID</th>
                <th>nombre</th>
                <th>cantidad</th>
                <th>descuento</th>
                <th>proveedor</th>
                <th>precio_base</th>
                <th>precio_final</th>
            </tr>
        </thead>
        <tbody>
          <tr>
              <td class="Resumen">{{producto_db.pk}}<br></td>
              <td class="Resumen">{{producto_db.nombre}}<br></td>
              <td class="Resumen">{{producto_db.cantidad}}<br></td>
              <td class="Resumen">{{producto_db.descuento}}<br></td>
              <td class="Resumen">{{producto_db.proveedor}}<br></td>
              <td class="Resumen">{{producto_db.precio_base}}<br></td>
              <td class="Resumen">{{producto_db.precio_final}}<br></td>
              <td><a href="{% url 'EditarProducto' producto_db.pk %}">Editar</a></td>
          </tr>
        </tbody>
      </table>
      {% endif %}
    </div>
  </div>
</div>
{% endblock body %}