{% load static %}
<!DOCTYPE html>
<html style="width: 100%; height: 100%; background: linear-gradient(90deg, #06123C 0%, #1131A2 66%, #0E2781 92%); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
{% block head %}{% endblock head %}
<head>
<link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">
</head>
<body>
<a href="http://127.0.0.1:8000">
<button class="boton-superior-izquierdo" style="position: fixed; top: 20px; left: 20px; background-color: rgba(0, 0, 0, 0);padding: 15px 32px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px; border-radius: 25px; color: white">HOME</button>
</a>
{% block body %}{% endblock body %}

</body>
</html>