{% extends "Padre.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link href="{% static "css/provedor.css" %}" rel="stylesheet" type="text/css">
<title>PROVEEDOR</title>
{% endblock head %}


{% block body %}
<div class="Frame22">
    <div class="Titulo">
        <div class="Inventario">Proveedor</div>
        <div class="search">
            <span class="material-symbols-outlined" id="search">
                search
            </span>
        </div>
    </div>
    <div class="Frame3">
        <form class="Form" method="POST">
            {% csrf_token %}
            <select text="text" name="name" placeholder="Provedor">
                <option>---</option>
                {% for Proveedor in Proveedores %}
                <option>{{Proveedor}}</option>
                {% endfor %}
            </select>
            <button type="submit">Buscar</button>
        </form>
        <div class="Panel" style="flex-direction: column; justify-content: center; align-items: center; display: flex">
            {% if productos %}
            <table id="contenedor-campos">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>producto</th>
                        <th>cantidad</th>
                        <th>precio_final</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos %}
                    <tr>
                        <td class="Resumen">{{producto.pk}}<br></td>
                        <td class="Resumen">{{producto.nombre}}<br></td>
                        <td class="Resumen">{{producto.cantidad}}<br></td>
                        <td class="Resumen">{{producto.precio_final}}<br></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'EditarProveedor' proveedor.pk %}">Editar Proveedor</a>
            {% endif %}
        </div>
        <a href="http://127.0.0.1:8000/NuevoProvedor/">
            <button class="add_circle" id="agregarProducto" name="consulta" type="submit">
                <span class="material-symbols-outlined" id="Icon">add_circle</span>
                <p class="TBoton">Agregar</p>
            </button>
        </a>
      </div>
  </div>
{% endblock body %}