{% extends "Padre.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<link href="{% static "css/log_in.css" %}" rel="stylesheet" type="text/css">
<title>LOG_IN</title>
{% endblock head %}


{% block body %}
<div class="Frame6">
  <div class="User">
    <span class="material-symbols-outlined" style="color: white; font-size: 75px">person_2</span>
  </div>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Registrarse</button>
    </form>
</div>
{% endblock body %}