.Titulo {
    width: 466px;
    height: 66px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
    background: linear-gradient(180deg, rgba(115.50, 179.46, 213.90, 0.50) 0%, rgba(102.56, 159.35, 189.93, 0.50) 35%, rgba(60.43, 93.89, 111.90, 0.50) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    gap: 100px;
    display: inline-flex
}
.Calendario {
    color: white;
    font-size: 45px;
    font-family: Roboto; 
    font-weight: 400;
    line-height: 52px;
    word-wrap: break-word
}
.Search {
    width: 46px;
    height: 38.82px;
    position: relative
}