button {
    padding-top: 25px;
    padding-bottom: 120px;
    padding-left: 25px;
    padding-right: 25px;
    background: linear-gradient(180deg, rgba(115.50, 179.46, 213.90, 0.50) 0%, rgba(102.56, 159.35, 189.93, 0.50) 35%, rgba(60.43, 93.89, 111.90, 0.50) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    display: inline-flex
}
.Titulo {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
    background: linear-gradient(180deg, rgba(115.50, 179.46, 213.90, 0.50) 0%, rgba(102.56, 159.35, 189.93, 0.50) 35%, rgba(60.43, 93.89, 111.90, 0.50) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    justify-content: flex-start; 
    align-items: center;
    gap: 100px;
    display: inline-flex
}
.Frame19 {
    width: 1215px;
    height: 498.15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    display: inline-flex
}
.PanelDeAdministraccion{
    color: white;
    font-size: 57px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 64px;
    word-wrap: break-word
}
#search {
    font-size: 46px;
    left: 5.75px;
    top: 4.85px;
    color: white
}

.Opcion{
    padding-top: 25px;
    padding-bottom: 120px;
    padding-left: 25px;
    padding-right: 25px;
    background: linear-gradient(180deg, rgba(115.50, 179.46, 213.90, 0.50) 0%, rgba(102.56, 159.35, 189.93, 0.50) 35%, rgba(60.43, 93.89, 111.90, 0.50) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    display: inline-flex
}
.Frame7{
    justify-content: center;
    align-items: center;
    gap: 40px;
    display: inline-flex
}
.Frame8 {
    padding: 25px;
    background: #06123C;
    border-radius: 100px;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex
}
.Frame1{
    padding-left: 25px;
    padding-right: 25px;
    background: white;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    display: inline-flex
}
.texto{
    color: black;
    font-size: 36px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 44px;
    word-wrap: break-word
}
#icon {
    font-size: 60px;
    left: 5.75px;
    top: 4.85px;
    color: white
}